{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Тестовое задание для вакансии Python-программиста.</h1>
            <h2>Что уже есть:</h2>
                <ul>
                    <li>Вход через facebook</li>
                </ul>
            <h2>Что нужно сделать:</h2>
                <ul>
                    <li>Каждый пользователь может создавать объекты модели Post (id, title(charfield), content(textfield), created_at(datetimefield), author(foreignkey(user)))</li>
                    <li>На главной странице (/) отображаются последние записи всех пользователей, показывается только title, created_at и author</li>
                    <li>При клике на заголовок записи, открывается страница записи, где показывается вся информация</li>
                </ul>
        </div>
    </div>
{% endblock %}